.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.view {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    overflow-y: auto;
}
.body {
    display: flex;
    flex: 1;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.note-list > .success {
    color: blue;
}

.note-list > .false {
    color: red;
}