.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
    box-sizing: border-box;
}
.view {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 440px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 1rem;
}
.body {
    display: flex;
    flex: 1;
}

.note-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.note-list > .success {
    color: blue;
}

.note-list > .false {
    color: red;
}