.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: whitesmoke;
}
.view {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    overflow-y: auto;
}
.body {
    display: flex;
    flex: 1;
}

.team {
    background-color: mediumspringgreen;
    color: black;
}